---
layout: default
---

<section class="bg-gray-200 relative">
  {%- include image-cover.html src="/v1577540969/pahyl/pahyl22-2.jpg" -%}

  <div class="absolute inset-0 flex justify-center px-4">
    <div class="cursor-pointer block self-center" href="">
      <div class="text-xl text-red-500 font-medium">
        <span>Nový film 2020</span>
      </div>
      <div class="cursor-pointer font-headline text-3xl lg:text-6xl">
        <span>Fly Candada</span>
        <span
          ><img
            class="inline w-16"
            src="https://res.cloudinary.com/dhxmg9p4i/image/upload/v1577549557/pahyl/flag.png"
            alt=""
          />
        </span>
      </div>

      <div class="text-center my-10 text-4xl">
        <span class="bg-red-500 px-5 py-3 hover:bg-red-900 rounded-full"
          >▶</span
        >
      </div>
      <div class="block cursor-pointer text-sm"></div>
    </div>
  </div>
</section>
<section>
  <div class="max-w-xl text-2xl mx-auto py-32 px-4 text-block">
    <div class="text-center pb-24">
      <img
        class="inline w-64"
        src="https://res.cloudinary.com/dhxmg9p4i/image/upload/v1577544482/pahyl/logo.svg"
        alt=""
      />
    </div>
    <div>
      Dostali mne všemožné gravity disciplíny na kolech. Přes menší lokální
      trailsy z kopce až po slopestylové a freeridové překážky. Nyní se vozím
      hlavně po sjezdových tratích v bikeparcích. Díky velké podpory jsme
      natočili film v kanadě a chystáme se na další.
    </div>

    <div class="mt-8">
      <a
        class="cursor-pointer text-center lg:text-2xl py-2 px-2 border-green-500 text-green-500 hover:bg-green-900 border-2 rounded-lg shadow-md"
        href=""
      >
        Podpořit film 🤟
      </a>
    </div>
  </div>
</section>

<section>
  <div class="px-4">
    {%- include gallery-cards.html -%}
  </div>
</section>

<section class="py-32">
  <div class="flex flex-col md:flex-row max-w-xl mx-auto">
    <div class="w-1/2">
      <div class="text-3xl mb-4">
        Kdyby cokoliv napiš nebo zavojel 👋
      </div>

      <div>
        <a class="text-red-500 text-2xl" href="">Facebook</a>
      </div>
      <div>
        <a class="text-red-500 text-2xl mb-4" href="">Instagram</a>
      </div>

      <div class="text-gray-600">
        Telefon
      </div>
      <div class="mb-4">
        +420 777 967 627
      </div>
      <div class="text-gray-600">
        Email
      </div>
      <div class="mb-4">
        danielbarak@neco.com
      </div>
    </div>
    <div class="w-1/2">
      {%- include instagram-embed.html -%}
    </div>
  </div>
</section>

<section class="bg-black">
  <div class="max-w-xl text-2xl mx-auto py-32 px-4 text-block">
    <div>
      Dějuku všem, kteří podporují moje sny! 🙏
    </div>
    <div class="px-4">
      <div>
        <span class="p-2 inline-block">
          <img
            src="{{site.img_url}}/w_100/v1577557509/pahyl/adapted.jpg"
            class="inline"
          />
        </span>
        <span class="p-2 inline-block">
          <img
            src="{{site.img_url}}/w_100/v1577557509/pahyl/adapted.jpg"
            class="inline"
          />
        </span>
        <span class="p-2 inline-block">
          <img
            src="{{site.img_url}}/w_100/v1577557509/pahyl/adapted.jpg"
            class="inline"
          />
        </span>
        <span class="p-2 inline-block">
          <img
            src="{{site.img_url}}/w_100/v1577557509/pahyl/adapted.jpg"
            class="inline"
          />
        </span>
        <span class="p-2 inline-block">
          <img
            src="{{site.img_url}}/w_100/v1577557509/pahyl/adapted.jpg"
            class="inline"
          />
        </span>
        <span class="p-2 inline-block">
          <img
            src="{{site.img_url}}/w_100/v1577557509/pahyl/adapted.jpg"
            class="inline"
          />
        </span>
        <span class="p-2 inline-block">
          <img
            src="{{site.img_url}}/w_100/v1577557509/pahyl/adapted.jpg"
            class="inline"
          />
        </span>
        <span class="p-2 inline-block">
          <img
            src="{{site.img_url}}/w_100/v1577557509/pahyl/adapted.jpg"
            class="inline"
          />
        </span>
      </div>
    </div>
  </div>
</section>
